@using BlazorApp1.Client.Shared.Components;
@using BlazorApp1.Shared;
@inject IJSRuntime JSRuntime;

@page "/"

<h1>Hello, world!</h1>

    Welcome to your new app.

<ListView />
@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        JSRuntime.InvokeVoidAsync("Init");
    }
}
